<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Index baby
    
    <form method="post" action="/getRow">
        <input type="text" name="name">
        <input type="number" name="phone">
        <textarea id="projeto" name="Projeto" rows="5" cols="33"></textarea>

        <button type="submit">Buscar Dados</button>
    </form> 

</body>
</html>