<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <script>
        function closeAlert() {
            document.getElementById('alerta').remove();
        }
    </script>
</head>

<body>
    <div class="container"
        style="max-width: 600px; display:grid; justify-content: center; align-content: center; margin-top: 20px">

        <div class="container">

            <div id="alerta" class="alert alert-success alert-dismissible">
                <a href="#" onclick="closeAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucesso!</strong> uma nova foi adicionada.
            </div>

        </div>

        <div class="card border-dark mb-3  text-center">
            <div class="card-body">
                <div class="timer-output card-text ">00:00</div>
            </div>
        </div>


        <div class="container">
            <center>
                <div class="btn-group buttons" role="group" aria-label="Basic example">
                    <button class="start-timer btn btn-outline-success" id="start-timer">Definir Hora Inicio</button>
                    <button class="stop-timer btn btn-outline-danger" id="stop-timer">Definir Hora de Parada</button>
                </div>
            </center>
        </div>

        <div class="container">

            <form id='form' action="/addRow" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input type="Email" placeholder="email" class="form-control" name="email"
                        aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input type="text" placeholder="Projeto" class="form-control" name="projeto" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input type="Text" placeholder="Descrição" class="form-control" name="descricao"
                        aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Nova Linha</button>
            </form>
        </div>
        <hr>
        <h3>Registros de hoje:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Hora de Inicio</th>
                    <th scope="col">Hora de parada</th>
                    <th scope="col">Tempo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>09/12/2022</td>
                    <td>09:00</td>
                    <td>09:30</td>
                    <td>00h30m</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>